@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-007E;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotobold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-007E;
}
*, *::before, *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
.content-box-component {
  box-sizing: content-box;
}
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  background-color: rgb(132, 157, 143);
  color: rgb(255, 255, 255);
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.container{
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.bg-icecream-1 {
  background-image: url('../img/bg-header-1.png');
  background-repeat: no-repeat;
  background-position: top center;
}
.bg-icecream-2 {
  background-image: url('../img/bg-header-2.png');
  background-repeat: no-repeat;
  background-position: top center;
}
.bg-icecream-3 {
  background-image: url('../img/bg-header-3.png');
  background-repeat: no-repeat;
  background-position: top center;
}
.bg-glow {
  background-image: linear-gradient( to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(132, 157, 143, 0.99) 600px);
}
/*====== .main-header =======*/
.main-header {
  margin-top: 10px;
}
.wrapper {
  padding-left: 2.3%;
  padding-right: 2.3%;
}
.main-header .wrapper {
  display: flex;
  flex-direction: column;
}
.wrapper-navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  width: 154px;
  height: 64px;
}
/*======= .main-nav ==========*/
.main-nav {
  width: 384px;
  margin-left: 10px;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -10px;
}
.main-nav__item {
  position: relative;
  border-radius: 20px;
}
.main-nav__item--active {
  color: rgb(255, 255, 255);
  background-color: rgb(208, 112, 88);
}
.main-nav__item:hover{
  background-color: rgb(247, 246, 243);
}
.main-nav__item:active {
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}
.main-nav__item:hover a {
  color: rgb(51, 51, 51);
}
.main-nav__item > a {
  display: block;
  line-height: 18px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 5px 13px;
  -webkit-text-decoration: underline rgba(255, 255, 255, .2);
          text-decoration: underline rgba(255, 255, 255, .2);
}
.main-nav__item:hover .main-nav__sub-list, .main-nav__item:focus + .main-nav__sub-list {
  display: block;
}

/*========= main-nav__sub-list =============*/
.main-nav__sub-list {
  position: absolute;
  top: 30px;
  left: -7px;
  display: none;
  min-width: 143px;
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.main-nav__sub-list::before {
  content: '';
  position: absolute;
  top: -7px;
  left: 0;
  width: 100%;
  height: 10px;
}
.main-nav__sub-list a {
  font-size: 14px;
  display: block;
  line-height: 16px;
  color: rgb(51, 51, 51);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
}
.main-nav__sub-list li:last-child {
  margin-bottom: 5px;
}
.sub-list__item--strong {
  font-weight: 700;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.sub-list__item--strong a {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sub-list__item--strong a::before {
  content: '';
  position: absolute;
  width: 89%;
  bottom: 0;
  left: 7px;
  border-bottom: 1px solid #d1d0ce;
}
.main-nav__sub-list li:hover, .main-nav__sub-list li:focus {
  background-color: rgb(251, 222, 215);
}
.main-nav__sub-list li:active {
  background-color: rgb(246, 181, 165);
}
.sub-list__item--active {
  background-color: rgb(208, 112, 88);
}
/*======== .user-nav --> .search ========*/
.user-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-top: -7px;
}
.search {
  position: relative;
  margin-right: 10px;
}
.search__btn {
  position: relative;
  display: table;
  border-radius: 50%;
  background-color: rgb(161, 180, 169);
  width: 33px;
  height: 33px;
  font-size: 0;
}
.search__btn::after {
  position: absolute;
  content: '';
  width: 17px;
  height: 17px;
  top: 8px;
  left: 8px;
  background-image: url(../img/loupe-white.png);
  background-repeat: no-repeat;
}
.search__box {
  display: none;
  position: absolute;
  top: 38px;
  right: 0;
  min-width: 340px;
  min-height: 85px;
  background-color: rgb(248, 247, 244);
  border-radius: 5px;
  z-index: 2;
}
.search__form {
  padding: 19px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search__form::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 20px;
}
.search__field {
  padding: 10px 15px;
  width: 100%;
  display: block;
  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  color: rgb(153, 153, 153);
}
.search:hover .search__box {
  display: block;
}
.search:hover .search__btn, .search:active .search__btn {
  background-color: rgb(248, 247, 244);
}
.search:hover .search__btn::after, .search:active .search__btn::after {
  background-image: url(../img/loupe-black.png);
}
input[type="text"], input[type="search"], input[type="email"], input[type="password"], textarea{
  border: 1px solid rgba(178, 178, 178, .5);
  border-radius: 5px;
  font-family: inherit;
}
input[type="text"]:hover, input[type="search"]:hover, input[type="email"]:hover, input[type="password"]:hover, textarea:hover{
  border: 2px solid rgba(154, 154, 154, .5);
}
/*======== .login ========*/
.login {
  margin-right: 10px;
  position: relative;
}
.login__btn {
  position: relative;
  background-color: rgb(161, 180, 169);
  padding-left: 45px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 20px;
}
.login__btn::after {
  position: absolute;
  content: '';
  top: 6px;
  left: 15px;
  width: 21px;
  height: 19px;
  background-image: url(../img/enter-white.svg);
  background-repeat: no-repeat;
}
.login:hover .login__btn, .login:active .login__btn, .login:focus .login__btn {
  color: rgb(50, 50, 50);
  background-color: rgb(248, 247, 244);
}
.login:hover .login__btn::after, .login:active .login__btn::after, .login:focus .login__btn::after {
  background-image: url(../img/enter-black.svg);
}

.login-box {
  display: none;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  position: absolute;
  font-size: 14px;
  background-color: rgb(248, 247, 244);
  padding: 20px;
  min-width: 275px;
  top: 38px;
  right: 0;
  border-radius: 5px;
  z-index: 2;
}
.login-box::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 20px;
}
.login:hover .login-box {
  display: block;
}
.login-form__field {
  padding: 13px;
  color: rgb(153, 153, 153);
  width: 240px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  margin-bottom: 20px;
}
.login-form__btn-enter {
  float: left;
  color: rgb(254, 254, 254);
  font-size: 18px;
  line-height: 24px;
  padding: 12px 25px;
  border-radius: 25px;
}
.login-form__links {
  float: right;
  width: 124px;
}
.login-form__links a {
  color: rgb(50, 50, 50);
  font-size: 13px;
  line-height: 24px;
  text-decoration: none;
  border-bottom: 1px solid #b2b2b2;
}
.login-form__links a:hover, .login-form__links a:active {
  color: rgb(232, 77, 55);
  border-bottom: 1px solid #f9cdc4;
}
/*===== .basket__link ========*/
.basket {
  position: relative;
}
.basket__link {
  background-color: rgb(161, 180, 169);
  border-radius: 20px;
  padding-left: 45px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 35px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  background-image: url(../img/basket.svg);
  background-repeat: no-repeat;
  background-position: 16px 6px;
}
.basket__link--active{
  border-radius: 20px;
  padding-left: 45px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  color: rgb(50, 50, 50);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  background-image: url(../img/basket-active.svg);
  background-repeat: no-repeat;
  background-position: 16px 6px;
}
.basket__link--active {
  color: rgb(50, 50, 50);
  background-color: rgb(248, 247, 244);
}
.basket--active:hover .basket__popup {
  display: block;
}
.basket__popup {
  display: none;
  position: absolute;
  top: 32px;
  right: 0;
  padding: 15px 20px;
  min-width: 540px;
  min-height: 243px;
  background-color: rgb(248, 247, 244);
  border-radius: 5px;
  z-index: 2;
}
.basket__popup::after {
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  height: 10px;
}
.basket__table {
  color: rgb(50, 50, 50);
  border-collapse: collapse;
  font-size: 13px;
  line-height: 16px;
}
.table__cell {
  padding: 5px 0px 11px;
  vertical-align: middle;
  position: relative;
}
.btn__close {
  padding-right: 20px;
  background-image: url(../img/x.svg);
  background-repeat: no-repeat;
}
.table__cell--img {
  min-width: 33px;
}
.table__cell img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}
.table__cell--name {
  padding-left: 10px;
}
.table__cell--price {
  white-space: nowrap;
  width: 133px;
  padding-left: 10px;
}
.value {
  color: rgb(153, 153, 153);
}
.table__cell--sum {
  white-space: nowrap;
  min-width: 60px;
}
.basket__all {
  color: rgb(50, 50, 50);
  text-align: right;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  border-top: 1px solid #cacac7;
  padding-top: 13px;
  margin-top: 10px;
  margin-right: -6px;
}
.btn__basket {
  font-size: 18px;
  line-height: 24px;
  color: rgb(254, 254, 254);
  float: right;
  margin-right: -6px;
}

/*========= .main-header__contacts ============*/

.main-header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  flex-wrap: wrap;
}
.time {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}
.phone {
  margin: 0;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}
.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background-color: rgba(255, 255, 255);
  background-image: linear-gradient( to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
  border: none;
  border-radius: 20px;
}
.btn:hover {
  background-image: linear-gradient( to top, rgba(231,74,53, 0.8) 0%, rgba(242,104,67, 0.8) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.99);
}
.btn:active {
  background-image: linear-gradient( to top, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.99);
}
/*==== breadcrumb =====*/
.breadcrumb {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: -20px;
}
.breadcrumb__item {
  margin-right: 3px;
  font-size: 14px;
  line-height: 16px;
  color: rgb(255, 255, 255);
}
.breadcrumb__item a {
  font-size: 14px;
  line-height: 16px;
  color: rgb(255, 255, 255);
}
.breadcrumb__item a::after {
  content: '';
  display: block;
  border-bottom: 1px solid #fff;
  opacity: 0.2;
  margin-top: -3px;
  margin-right: 10px;
}
.breadcrumb:lastchild .breadcrumb__item a::after {
  display: none;
}
.main__title {
  margin-top: 5px;
  margin-bottom: 27px;
  font-size: 35px;
  line-height: 41px;
}
/*======= .slider ======*/
.main-header__slider {
  display: flex;
  justify-content: center;
  -ms-align-items: flex-end;
  align-items: flex-end;
  position: relative;
  min-height: 490px;
  z-index: 1;
}
.slides__item {
  margin-bottom: 0;
  text-align: center;
}
.slides__item--content-none {
  display: none;
}
.slides__title {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  max-width: 700px;
  margin: 0;
  margin-bottom: 30px;
}
.slides__btn {
  font-size: 32px;
  line-height: 44px;
  border-radius: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.inners {
  position: absolute;
  bottom: 25px;
  left: 0;
}
.slider__inner {
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  text-indent: 100%;
  overflow: hidden;
}
.slider__inner--active {
  background-color: rgb(255, 255, 255);
}
.slider__inner:hover{
  background-color: rgba(255, 255, 255, .4);
}
/*========= filters ==========*/
.filters {
  width: 879px;
  margin-bottom: 25px;
}
.filters__form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.filters__form fieldset {
  padding: 0;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 15px;
  border: none;
}
/*===== .select =====*/
.select__title, .range__title, .radio__title,.checkbox__title {
  font-size: 14px;
  line-height: 16px;
  padding-left: 15px;
  padding-bottom: 5px;
}
.select__list {
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 20px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  padding: 8px 13px;
  border: none;
  line-height: 18px;
}
.select__item {
  background-color: rgb(156, 175, 163);
  color: rgb(255, 255, 255);
}
/*====== .range ========*/
.range__box {
  position: relative;
  width: 220px;
  min-height: 36px;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 20px;
}
.range__line-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 175px;
  height: 4px;
  margin-top: -2px;
  margin-left: -87px;
  background-color: rgba(248, 247, 244, .5);
}
.range__line-2 {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 100px;
  height: 4px;
  margin-top: -2px;
  margin-left: -50px;
  background-color: rgb(248, 247, 244);
}
.range__button {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: rgb(248, 247, 244);
  border-radius: 50%;
  cursor: pointer;
}
.range__button::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -3px;
  background-color: rgb(171, 171, 171);
  border-radius: 50%;
}
.range__button--first {
  position: absolute;
  top: 50%;
  left: 40px;
  margin-top: -10px;
}
.range__button--second {
  position: absolute;
  top: 50%;
  left: 136px;
  margin-top: -10px;
}
/*========= .radio ========*/
.radio__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 415px;
  min-height: 36px;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
label {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.radio__box label::before {
  content: '';
  width: 22px;
  height: 22px;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  border: 4px solid rgba(255, 255, 255, .8);
  border-radius: 50%;
}
.radio__box label::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 7px;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 50%;
  margin-top: -4px;
  display: none;
}
.radio__box input:checked + label::after {
  display: block;
}
.radio__box input + label:hover::before{
  border: 4px solid rgb(255, 255, 255);
}
.radio__box input + label:hover::after{
  background-color: rgb(255, 255, 255);
}
.radio__box input:focus + label {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.radio__box input:disabled + label::before {
  border: 4px solid rgba(255, 255, 255, .4);
}
.radio__box input:disabled + label::after {
  background-color: rgba(255, 255, 255, .4);
}
/*======= .checkbox =========*/
.checkbox__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 702px;
  min-height: 36px;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 20px;
  padding-left: 12px;
  padding-right: 20px;
}
.checkbox__box label::before {
  content: '';
  width: 30px;
  height: 25px;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.checkbox__box input:checked + label::before {
  background-image: url(../img/checkbox-on.svg);
  transform: translateX(2px);
}
.checkbox__box input + label:hover::before {
  background-image: url(../img/checkbox-off-hover.svg);
}
.checkbox__box input:checked:hover + label::before {
  background-image: url(../img/checkbox-on-hover.svg);
}
.checkbox__box input:disabled + label::before {
  background-image: url(../img/checkbox-off-disabled.svg);
}
.checkbox__box input:checked:disabled + label::before {
  background-image: url(../img/checkbox-on-disabled.svg);
}
.checkbox__box input[type="checkbox"]:focus + label::before {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
/*====== .filters__btn ===========*/
.filters__btn {
  padding: 8px 28px;
  margin-top: 10px;
  color: #fff;
  font-weight: 500;
  line-height: 18px;
  border-radius: 20px;
  border: 2px solid #fff;
  background-color: rgba(248, 247, 244, 0.2);
}
.filters__btn:hover {
  background-color: rgb(251, 252, 251);
  color: rgb(50, 50, 50);
}
.filters__btn:active {
  background-color: rgb(237, 237, 237);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.98);
}
/*============ banners =================*/
.banners {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 40px;
  margin-bottom: 40px;
}
.banner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 48.9%;
  min-height: 229px;
  border-radius: 15px;
  padding: 13px 20px 24px;
}
.banner--raspberry {
  background-image: url(../img/bg-banner-raspberry.jpg);
  background-repeat: repeat;
  background-color: #72122d
}
.banner--chocolate {
  background-image: url(../img/bg-banner-chocolate.jpg);
  background-repeat: repeat;
  background-color: #280e00;
}
.banner__title {
  margin: 0;
  padding-bottom: 14px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}
.banner__content {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
.banner__btn {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 13px;
  padding-bottom: 13px;
  align-self: flex-end;
  margin-top: auto;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 30px;
}
/*========= product ===========*/
.product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product__item {
  display: flex;
  flex-direction: column;
  width: 23.2%;
  margin-bottom: 40px;
  text-align: center;
}
.product__item--icon {
  position: relative;
}
.product__item--icon::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background-image: url(../img/hit.svg);
  background-repeat: no-repeat;
}
.product__box-img {
  position: relative;
}
.product__img {
  border-radius: 50%;
}
.product__price {
  position: absolute;
  bottom: 15px;
  left: 0;
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}
.small-font {
  font-size: 30px;
}
.product__description {
  padding-top: 10px;
  position: relative;
  display: block;
  font-weight: 500;
  color: rgb(255, 255, 255);
  -webkit-text-decoration: underline rgba(255, 255, 255, .2);
          text-decoration: underline rgba(255, 255, 255, .2);
}
.btn-product {
  display: none;
  padding-left: 25px;
  padding-right: 25px;
}
.product__item:hover {
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  padding: 5px 13px 20px;
  margin-bottom: -40px;
  box-sizing: content-box;
  margin-left: -13px;
  margin-right: -13px;
  margin-top: -5px;
  z-index: 100;
}
.product__item--icon:hover::after {
  top: 5px;
  left: 13px;
}
.product__item:hover .btn-product {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: auto;
}
/*============== page-control ==========*/
.page-control {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(225, 225, 225, .3);
  margin-top: 34px;
}
.page-control__item {
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
}
.page-control__item:last-child {
  padding-right: 0;
}
.page-control__item--active {
  background-color: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
}
.page-control__item--left, .page-control__item--right {
  position: relative;
  cursor: pointer;
  width: 22px;
  height: 22px;
}
.page-control__item--left:before, .page-control__item--left:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: rgba(255, 255, 255, .2);
}
.page-control__item--left:before {
  transform: rotate(-45deg);
  top: 6px;
  left: 0;
}
.page-control__item--left:after {
  transform: rotate(45deg);
  top: 12px;
  left: 0;
}
.page-control__item--right:before, .page-control__item--right:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: rgb(255, 255, 255);
}
.page-control__item--right:before {
  transform: rotate(45deg);
  top: 6px;
  left: 15px;
}
.page-control__item--right:after {
  transform: rotate(-45deg);
  top: 12px;
  left: 15px;
}
.page-control__item--use:hover, .page-control__item--use:focus {
  background-color: rgba(255, 255, 255, .2);
}
.page-control__item--use:active {
  background-color: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
}
/*============== advantages =================*/
.advantages {
  margin-bottom: 45px;
  background-image: url(../img/bg-waffle.jpg);
  background-repeat: repeat;
  border-radius: 15px;
  z-index: 1;
}
.advantages__wrapper {
  padding: 25px 20px;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantages__title {
  margin: 0;
  margin-bottom: 25px;
  width: 100%;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: rgb(50, 50, 50);
}
.advantages__items-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.advantages__items-box {
  max-width: 540px;
}
.advantages__items-box:last-child {
  margin-right: 0;
}
.advantages__item {
  width: 49%;
  margin: 0;
  padding-bottom: 20px;
  padding-left: 57px;
  color: rgb(50, 50, 50);
}
.advantages__item--icon-icecream, .advantages__item--icon-eco, .advantages__item--icon-cow, .advantages__item--icon-thermopak {
  position: relative;
}
.advantages__item--icon-icecream::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: -15px;
  left: 0;
  background-image: url(../img/icecream.svg);
  background-repeat: no-repeat;
}
.advantages__item--icon-eco::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: -15px;
  left: 0;
  background-image: url(../img/sheet.svg);
  background-repeat: no-repeat;
}
.advantages__item--icon-cow::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: -15px;
  left: 0;
  background-image: url(../img/cow.svg);
  background-repeat: no-repeat;
}
.advantages__item--icon-thermopak::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: -15px;
  left: 0;
  background-image: url(../img/termometr.svg);
  background-repeat: no-repeat;
}
/*========== group-box ==============*/
.group-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.banner--news {
  min-height: 220px;
  background-image: url(../img/bg-strawberry.jpg);
  background-repeat: repeat;
  background-color: #fff;
  padding-top: 21px;
}
.news__title {
  color: rgb(50, 50, 50);
  font-weight: 500;
  margin: 0;
  margin-bottom: 5px;
}
.news__topic {
  color: rgb(50, 50, 50);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
  max-width: 280px;
}
.banner--subscribe {
  min-height: 220px;
  background-color: rgb(146, 205, 255);
  padding: 5px;
  background-image: url(../img/mail-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.banner__wrapper {
  min-height: 210px;
  background-color: rgb(248, 247, 244);
  border-radius: 15px;
  padding: 30px 20px;
}
.subscribe__form {
  display: flex;
  justify-content: space-between;
}
.subscribe__content {
  color: rgb(90, 90, 90);
  padding-bottom: 30px;
  margin: 0;
}
.subscribe__mail {
  margin-right: 10px;
  line-height: 24px;
  color: rgb(153, 153, 153);
  padding: 10px;
  flex-grow: 1;
}
.subscribe__btn {
  padding: 12px 19px;
  font-size: 18px;
  line-height: 24px;
}
/*========== map ================*/
.map {
  min-height: 430px;
  margin-top: 40px;
  background-image: url(../img/bg-map.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f7f1d9;
  background-size: cover;
}
.map-interactive {
  width: 100vw;
}
.contacts__wrapper {
  max-width: 1200px;
  min-width: 900px;
  min-height: 430px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.contacts {
  width: 302px;
  background-color: rgba(255, 255, 255, 0.98);
  padding: 30px 25px;
  color: rgb(50, 50, 50);
  border-radius: 15px;
  font-size: 14px;
  line-height: 20px;
  min-height: 305px;
  margin-right: 2.3%;
}
.contacts__address {
  margin: 0;
}
.text-bold {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.contacts__phone {
  line-height: 25px;
  margin-bottom: 24px;
}
.contacts__btn {
  display: block;
  font-size: 18px;
  line-height: 24px;
}
/*=========== footer ===========*/
.main-footer {
  padding-top: 17px;
  padding-bottom: 20px;
}
.main-footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social__item {
  position: relative;
  margin-right: 7px;
  width: 32px;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  text-indent: 100%;
  overflow: hidden;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  box-sizing: content-box;
}
.social__item--tw {
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
}
.social__item--inst {
  background-image: url(../img/intagram.svg);
  background-repeat: no-repeat;
}
.social__item--fb {
  background-image: url(../img/facebook.svg);
  background-repeat: no-repeat;
}
.social__item--vk {
  background-image: url(../img/vkontakte.svg);
  background-repeat: no-repeat;
}
.social__item:hover, .social__item:active, .social__item:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
}
.social__item:hover.social__item--tw, .social__item:focus.social__item--tw {
  background-image: url(../img/twitter-hover.svg);
}
.social__item:hover.social__item--inst, .social__item:focus.social__item--inst {
  background-image: url(../img/intagram-hover.svg);
}
.social__item:hover.social__item--fb, .social__item:focus.social__item--fb {
  background-image: url(../img/facebook-hover.svg);
}
.social__item:hover.social__item--vk, .social__item:focus.social__item--vk {
  background-image: url(../img/vkontakte-hover.svg);
}

.social__item:active.social__item--tw {
  background-image: url(../img/twitter-active.svg);
}
.social__item:active.social__item--inst {
  background-image: url(../img/intagram-active.svg);
}
.social__item:active.social__item--fb {
  background-image: url(../img/facebook-active.svg);
}
.social__item:active.social__item--vk {
  background-image: url(../img/vkontakte-active.svg);
}
.main-footer__menu {
  width: 26.8%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
.footer-menu__item {
  width: 47%;
  white-space: nowrap;
}
.footer-menu__item a {
  font-size: 13px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  -webkit-text-decoration: underline rgba(255, 255, 255, .2);
          text-decoration: underline rgba(255, 255, 255, .2);
}
.footer-menu__item--heart {
  position: relative;
}
.footer-menu__item--heart::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: 5px;
  left: -23px;
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
}
.main-footer__copyright {
  margin-top: -10px;
}
.copyright {
  font-size: 12px;
  line-height: 18px;
  color: rgb(254, 254, 254);
  margin: 0;
}
.logo-htmlacademy img {
  width: 120px;
  height: 38px;
  margin-left: -4px;
}
.copyright a {
  position: relative;
  font-size: 12px;
  line-height: 18px;
  color: rgb(254, 254, 254);
  -webkit-text-decoration: underline rgba(255, 255, 255, .2);
          text-decoration: underline rgba(255, 255, 255, .2);
}
/*====== .feedback ======*/
.modal {
  display: none;
  position: fixed;
  padding: 16px 24px;
  background-color: rgb(248, 247, 244);
  border-radius: 10px;
  z-index: 100;
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  z-index: 10;
}
.modal-overlay--show {
  display: block;
}
.modal-feedback {
  top: 50%;
  left: 50%;
  width: 477px;
  min-height: 442px;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.modal__title {
  color: rgb(50, 50, 50);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
}
.modal__close {
  position: absolute;
  top: 16px;
  right: 15px;
  background-image: url(../img/x-big.svg);
  background-repeat: no-repeat;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form__name {
  width: 267px;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  padding: 11px;
  padding-left: 12px;
}
.modal-form__email {
  width: 258px;
  height: 37px;
  background-color: rgb(255, 255, 255);
  margin-top: 21px;
  padding: 20px;
  padding-left: 12px;
}
.modal-form__textarea {
  margin-top: 20px;
  padding-top: 12px;
  padding-left: 15px;
  resize: none;
  width: 100%;
  min-height: 155px;
}
.btn__modal {
  margin-top: 25px;
  color: #fefefe;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 25px;
  align-self: flex-end;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: rgb(153, 153, 153);
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: rgb(153, 153, 153);
}
input::placeholder, textarea::placeholder {
  color: rgb(153, 153, 153);
}
.modal-feedback--show {
  display: block;
}
