@font-face {
    font-family:'Roboto';
    src: url('roboto.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-007E;
}

@font-face {
    font-family:'Roboto';
  src: url('robotobold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family:'Roboto';
  src: url('robotomedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-007E;
}
*, *::before, *::after {
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}
.content-box-component{
    box-sizing: content-box;
}
body{
    max-width: 1200px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    background-color: rgb(132, 157, 143);
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.main-header{
    background-image: url('../img/bg-header-1.png');
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 10px;
}
.container{
    padding-left: 27px;
    padding-right: 27px;
}
.main-header .container{
    display: flex;
    flex-direction: column;
}
.wrapper-navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    width: 154px;
    height: 64px;
}
.main-nav{
    width: 384px;
    margin-left: 10px;
}
.main-nav__list{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}
.main-nav__item{
    position: relative;
    border-radius: 20px;
    padding: 5px 13px;
}
.main-nav__item--active{
    color: rgb(255, 255, 255);
    background-color: rgb(208, 112, 88);
}
.main-nav__item:hover, .main-nav__item:focus{
    background-color: rgb(247, 246, 243);
}

.main-nav__item:active{
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}
.main-nav__item:hover a{
    color: rgb(51, 51, 51);
}
.main-nav__item > a{
    line-height: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.main-nav__item > a::after{
    content: '';
    display: block;
    border-bottom: 1px solid #fff;
    opacity: 0.2;
    margin-top: -3px;
}
.main-nav__item:hover .main-nav__sub-list{
    display: block;
}
.main-nav__sub-list{
    position: absolute;
    top: 35px;
    left: -7px;
    display: none;
    min-width: 143px;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 5px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.main-nav__sub-list li{
    padding-left: 19px;
    padding-right: 19px;
}
.main-nav__sub-list li:hover, .main-nav__sub-list li:focus{
    background-color: rgb(251, 222, 215);
}
.main-nav__sub-list li:active{
    background-color: rgb(246, 181, 165);
}
/*.sub-list__item--active{
    background-color: rgb(208, 112, 88);
}*/
.main-nav__sub-list a{
    font-size: 14px;
    line-height: 16px;
    color: rgb(51, 51, 51);
}
.search-box{
    position: relative;
    margin-right: 10px;
}
.user-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 267px;
    margin-left: auto;
}
.user-nav__search{
    position: relative;
    display: table;
    border-radius: 50%;
    background-color: rgb(161, 180, 169);
    width: 33px;
    height: 33px;
}
.user-nav__search::after{
    position: absolute;
    content: '';
    display: table;
    width: 17px;
    height: 17px;
    top: 8px;
    left: 8px;
    background-image: url(../img/loupe-white.png);
    background-repeat: no-repeat;
}
.user-nav__form{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.search-box:hover .user-nav__form{
    display: block;
}
.search-box:hover .user-nav__search{
    background-color: rgb(248, 247, 244);
}
.search-box:hover .user-nav__search::after{
    background-image: url(../img/loupe-black.png);
}
.btn{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    background-color: rgba(255, 255, 255);
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
.btn:hover{
    background-image: linear-gradient( 90deg, rgba(231,74,53, 0.8) 0%, rgba(242,104,67, 0.8) 100%);
    box-shadow: 0px 2px 2px 0px rgb(172, 16, 0);
}
.login{
    margin-right: 10px;
}
.login__btn{
    position: relative;
    background-color: rgb(161, 180, 169);
    border-radius: 20px;
    padding-left: 45px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}
.login__btn::after{
    position: absolute;
    content: '';
    display: table;
    top: 6px;
    left: 15px;
    width: 21px;
    height: 19px;
    background-image: url(../img/enter-white.png);
    background-repeat: no-repeat;
}
.login-form{
    display: none;
}
.basket__link{
    position: relative;
    background-color: rgb(161, 180, 169);
    border-radius: 20px;
    padding-left: 45px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 35px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.basket__link::after{
    position: absolute;
    top: 6px;
    left: 16px;
    content: '';
    display: table;
    width: 21px;
    height: 20px;
    background-image: url(../img/basket.svg);
    background-repeat: no-repeat;
}
.basket__popup{
    display: none;
}
.main-header__contacts{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 273px;
}
.time{
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}
.number{
    margin: 0;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

.slides__title{
    font-size: 60px;
    line-height: 60.35px;
    font-weight: 700;
    max-width: 700px;
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
}
.slides__btn{
    font-size: 32px;
    line-height: 44px;
    border-radius: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.slides__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*========= filters ==========*/
.filters{
    width: 879px;
}
.filters__form{
    display: inline-flex;
    flex-direction: column;
}
.filters__wrapper{
    display: inline-flex;
}
.select__title, .range__title, .radio__title,.checkbox__title{
    font-size: 14px;
    line-height: 16px;
}
.range__title{
}
/*============ banners =================*/
.banners{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 19px;
}
.banner{
    width: 560px;
    min-height: 229px;
    border-radius: 15px;
}
.banner a{
    display: inline-block;
}
.banner--raspberry{
    background-image: url(../img/bg-banner-raspberry.jpg);
    background-repeat: no-repeat;
}
.banner--chocolate{
    background-image: url(../img/bg-banner-chocolate.jpg);
    background-repeat: no-repeat;
}
.banner__title{
    margin: 0;
    padding: 17px;
    padding-bottom: 14px;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}
.banner__content{
    margin: 0;
    padding: 0;
    padding-left: 19px;
    padding-right: 19px;
    font-size: 18px;
    font-weight: 700;
}
.banner__btn{
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 20px;
}
/*========= product ===========*/
.product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__item{
    width: 267px;
}
/*============== page-control ==========*/
.page-control{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
/*============== advantages =================*/
.advantages{
    background-image: url(../img/bg-waffle.jpg);
    background-repeat: repeat;
}
/*========== group-box ==============*/
.group-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.banner--news{
    min-height: 220px;
    background-image: url(../img/bg-strawberry.jpg);
    background-repeat: no-repeat;
}
.banner--subscribe{
    min-height: 220px;
}
/*========== map ================*/
.map{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 430px;
    background-image: url(../img/bg-map.jpg);
    background-repeat: no-repeat;
}
.contacts{
    width: 302px;
    margin-left: auto;
}
/*=========== footer ===========*/
.main-footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social{
    width: 267px;
}
.main-footer__menu{
    width: 560px;
}
.main-footer__copyright{
    width: 267px;
}


